@charset "utf-8";
@import url(./reset.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}



.header {
  height: 56px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #b4ddee;
  color: #fff;
  }

  .container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
  }

  header img {
    height: 50px;
    line-height: 56px;
  }

  header nav {
    width: 100%;
    text-align: right;
  }
  
  nav ul {
    list-style: none;
    line-height: 56px;
  }
  
  nav ul li{ 
    display: inline;
    cursor: default;
  }
  
  nav ul li a {
    font-size: 12px;
    letter-spacing: 1px;
    color: #000;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  nav ul li a:hover {
    color: #125aea;
    transition: all 0.4s ease 0s;
  }
  
  nav ul li + li {
    margin-left: 18px;
  }
  

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  text-align: center;
}

h2 .title  {
  margin: 0;
  font-size: 42px;
  color: #230707;
}

p .description {
  margin: 1rem 0;
  font-size: 1.2rem;
  color: #e02222;
}

.banner button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #230707;
  transition: background-color 0.2s;
  cursor: pointer;
}

.primary-btn{
  background-color: #5099e6;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #3a7cc4;
}

.secondary-btn {
  background-color: transparent;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.secondary-btn:hover {
  background-color: #7fb6f1;
  color: #fff;
}

  .gallery {
    border-top: 1px solid #230707;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  
  .gallery-img {
    width: 250px;
    height: 250px;
    margin-top: 10px;
    margin: 0.5rem;
    border-radius: 10px;
    transition: all 0.25s ease-in-out;
  }
  
  .gallery-img:hover {
    transform: scale(1.2);
  }

  .footer {
    background-color: #b4ddee;
    color: #fff;
    height: 56px;
  }
  
footer span {
  line-height: 56px;
}

  .copyright {
    text-align: center;
    color: #000;
  }
  
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../components/original-c77e87fa69dfe8842c9af88db59b9afd.gif');
  }
  
  